bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.vs/

# Configuración
appsettings.Development.json
appsettings.Production.json
appsettings.*.json
!appsettings.json

# Usuario
*.user
*.suo

# Solo ignora migraciones de datos automáticas problemáticas
**/Migrations/*UpdateData*.cs
**/Migrations/*UpdateData*.Designer.cs
**/Migrations/*Clean*.cs
**/Migrations/*Clean*.Designer.cs